In [25]:
import pandas as pd

# Данные из таблицы (первые 5 сотрудников)
data_dict = {
    'ID': [1, 2, 3, 4, 5],
    'Имя': ['Иван', 'Ольга', 'Алексей', 'Мария', 'Сергей'],
    'Возраст': [25, 30, 40, 35, 28],
    'Должность': ['Инженер', 'Аналитик', 'Менеджер', 'Программист', 'Специалист'],
    'Отдел': ['IT', 'Маркетинг', 'Продажи', 'IT', 'HR'],
    'Зарплата': [60000, 75000, 90000, 80000, 50000],
    'Стаж работы': [2, 5, 15, 7, 3]
}

df_dict = pd.DataFrame(data_dict)
print("DataFrame из словаря списков:")
print(df_dict)
print("\nИнформация о типах данных:")
print(df_dict.info())

DataFrame из словаря списков:
   ID      Имя  Возраст    Должность      Отдел  Зарплата  Стаж работы
0   1     Иван       25      Инженер         IT     60000            2
1   2    Ольга       30     Аналитик  Маркетинг     75000            5
2   3  Алексей       40     Менеджер    Продажи     90000           15
3   4    Мария       35  Программист         IT     80000            7
4   5   Сергей       28   Специалист         HR     50000            3

Информация о типах данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Имя          5 non-null      object
 2   Возраст      5 non-null      int64
 3   Должность    5 non-null      object
 4   Отдел        5 non-null      object
 5   Зарплата     5 non-null      int64
 6   Стаж работы  5 non-null      int64
dtypes: int64(4), object(3)
memory usage: 412.0+ bytes
None

In [21]:
data_list = [
    {'ID': 1, 'Имя': 'Иван', 'Возраст': 25, 'Должность': 'Инженер', 
     'Отдел': 'IT', 'Зарплата': 60000, 'Стаж работы': 2},
    {'ID': 2, 'Имя': 'Ольга', 'Возраст': 30, 'Должность': 'Аналитик', 
     'Отдел': 'Маркетинг', 'Зарплата': 75000, 'Стаж работы': 5},
    {'ID': 3, 'Имя': 'Алексей', 'Возраст': 40, 'Должность': 'Менеджер', 
     'Отдел': 'Продажи', 'Зарплата': 90000, 'Стаж работы': 15},
    {'ID': 4, 'Имя': 'Мария', 'Возраст': 35, 'Должность': 'Программист', 
     'Отдел': 'IT', 'Зарплата': 80000, 'Стаж работы': 7},
    {'ID': 5, 'Имя': 'Сергей', 'Возраст': 28, 'Должность': 'Специалист', 
     'Отдел': 'HR', 'Зарплата': 50000, 'Стаж работы': 3}
]

df_list = pd.DataFrame(data_list)
print("\nDataFrame из списка словарей:")
print(df_list)
print("\nИнформация о типах данных:")
print(df_list.info())

DataFrame из списка словарей:
   ID      Имя  Возраст    Должность      Отдел  Зарплата  Стаж работы
0   1     Иван       25      Инженер         IT     60000            2
1   2    Ольга       30     Аналитик  Маркетинг     75000            5
2   3  Алексей       40     Менеджер    Продажи     90000           15
3   4    Мария       35  Программист         IT     80000            7
4   5   Сергей       28   Специалист         HR     50000            3

Информация о типах данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Имя          5 non-null      object
 2   Возраст      5 non-null      int64
 3   Должность    5 non-null      object
 4   Отдел        5 non-null      object
 5   Зарплата     5 non-null      int64
 6   Стаж работы  5 non-null      int64
dtypes: int64(4), object(3)
memory usage: 412.0+ bytes
None

In [17]:
import numpy as np

# Генерируем случайные возраста от 20 до 60
np.random.seed(42)  # Для воспроизводимости
random_ages = np.random.randint(20, 61, size=5)

# Используем те же данные, но с случайными возрастами
df_numpy = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Имя': ['Иван', 'Ольга', 'Алексей', 'Мария', 'Сергей'],
    'Возраст': random_ages,
    'Должность': ['Инженер', 'Аналитик', 'Менеджер', 'Программист', 'Специалист'],
    'Отдел': ['IT', 'Маркетинг', 'Продажи', 'IT', 'HR'],
    'Зарплата': [60000, 75000, 90000, 80000, 50000],
    'Стаж работы': [2, 5, 15, 7, 3]
})

print("\nDataFrame с случайными возрастами из NumPy:")
print(df_numpy)
print("\nИнформация о типах данных:")
print(df_numpy.info())

DataFrame с случайными возрастами из NumPy:
   ID      Имя  Возраст    Должность      Отдел  Зарплата  Стаж работы
0   1     Иван       58      Инженер         IT     60000            2
1   2    Ольга       48     Аналитик  Маркетинг     75000            5
2   3  Алексей       34     Менеджер    Продажи     90000           15
3   4    Мария       27  Программист         IT     80000            7
4   5   Сергей       40   Специалист         HR     50000            3

Информация о типах данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Имя          5 non-null      object
 2   Возраст      5 non-null      int32
 3   Должность    5 non-null      object
 4   Отдел        5 non-null      object
 5   Зарплата     5 non-null      int64
 6   Стаж работы  5 non-null      int64
dtypes: int32(1), int64(3), object(3)
memory usage: 392.0+ bytes
None